/*1.Global*/
/*2.Elements*/
/*3.Classes*/


/*1.Global*/
body {
    background: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}


/*2.Elements*/


h3 {
    color: hsl(0, 0%, 100%);
}

p {
  color:hsl(215, 51%, 70%);  
  font-size: 14px;
  font-weight: lighter;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

a:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}


/*3.Classes*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
}

.card {
    background: hsl(216, 50%, 16%);
    border-radius: 10px;
    height: 425px;
    width: 250px;
    display: flexbox;
    padding: 20px;
    box-shadow: 0px 0px 25px hsl(215, 55%, 6%);
}

.nft-image-box {
    display: flex;
    border-radius: 10px;
    height: 50%;
    width: 100%;
    position: relative;
}

.nft-image-box:hover {
    cursor: pointer;
}

.nft-image-box img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    background: hsl(178, 100%, 50%);
    transition: .5s ease;
}

.view-icon {
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

.nft-image-box:hover .overlay{
    opacity: .4;
}

.nft-image-box:hover .view-icon{
    opacity: 1;
}


.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0px;
    justify-content: flex-start;
    padding-bottom: 0px;
    font-weight: 300;
}

.item-name {
    display: inline;
    width: 100%;
    margin-top: 20px;
}


.item-name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.item-desc {
    margin-top: 0px;
    
}

.specifics {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.cost {
    background-image: url(images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.cost p {
    color: hsl(178, 100%, 50%);
}

.time {
    font-weight: lighter;
    color: hsl(215, 51%, 70%);
    background-image: url(images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.author {
    height: 10%;
    display: flex;
    justify-content: flex-start;
}

.author img {
    width: 25px;
    border: 1px solid white;
    border-radius: 30px;
    align-self: center;
    justify-self: center;
}

.author p {
    align-self: center;
    justify-self: center;
    margin-left: 15px;
}

hr {
    border-top: 1px solid hsl(215, 32%, 27%);
    margin-top: 0px;
    opacity: 30%;
    padding: 0px;
}
